/*
MY COLOR PALETTE
Color 1 - #6290C3
Color 2 - #C2E7DA
Color 3 - #F1FFE7
Color 4 - #1A1B41
Color 5 - #BAFF29
*/

body {
    text-align: center;
    background-color:#6290C3;
}
button {
    background-color:#F1FFE7;
    color:#1A1B41;
    width: 200px;
    padding: 10px;
    border:none;
    border-radius: 10px
}

button:hover {
    background-color:#BAFF29; 
}

h1 {
    font-family:'Sans-serif','Helvetica'
}

h2{
    font-family:'Serif','Raleway'
}